<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css" media="print">
        @page { size: landscape; }
      </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CDP Journal</a>
                <ul class="nav navbar-nav">
                        <li  onclick="myFunction()"><a href="#" >PRINT</a></li>
                      </ul>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li ><span style="color: white;padding-top: 15px; padding-bottom: 15px;    display: block;text-transform: capitalize">  Hi ! {{ user_name }}</span></li>
                    <li><a href="/main/logout/"><span class="glyphicon glyphicon-user"></span> Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" style="margin-top :10%;">
        <div class="row" style="font-size:17px;">
            {% for subscriber_obj in subscriber %}
            <div class="col-sm-3" style="margin-bottom: 50px; ">
               <div style="font-weight: bold;text-transform: capitalize">{{ subscriber_obj.name }}</div>
               <div>{{ subscriber_obj.street }} , </div>
               <div>{{ subscriber_obj.taluk }} , </div>
               <div>{{ subscriber_obj.state }} , {{ subscriber_obj.district }} , </div>
               <div>Postal code :{{ subscriber_obj.pincode }}</div>
               <div>Ph. no : {{ subscriber_obj.phone_number }}</div><br>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
<script>
        function myFunction() {
          window.print();
        }
        </script>
</html>