{% extends 'header_footer_base.html' %} {% block container %}
{% load staticfiles %}
<!--  -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="text-align: center;font-size: 20px">
      <!-- <input class="form-control text-center" id="myInput" type="text" placeholder="Search.." style="width:50%"> -->
      <b>Subscribers</b>
    </div>
  </div>
  <div class="table-responsive">
    <table style="width: 97%;margin:2%" class="table table-bordered table-condensed table-hover" id="myTable">
      <thead>
        <tr>
          <th><input class="form-control text-center" type="text" placeholder="Search.." id="myInput"
              onkeyup="myFunction()" style="width:100%"></th>
          <th id="inputSubscription"><input class="form-control text-center" type="text" placeholder="Search.."
              style="width:100%" id="myInputSubs" onkeyup="myFunctionSubs()"></th>
          <th id="inputState"><input class="form-control text-center" type="text" placeholder="Search.."
              style="width:100%" id="myInputState" onkeyup="myFunctionState()"></th>
          <th id="inputDistrict"><input class="form-control text-center" type="text" placeholder="Search.."
              style="width:100%" id="myInputDistrict" onkeyup="myFunctionDistrict()"></th>
          <th id="inputTaluk"><input class="form-control text-center" type="text" placeholder="Search.."
              style="width:100%" id="myInputTaluk" onkeyup="myFunctionTaluk()"></th>
          <th id="inputStreet"><input class="form-control text-center" type="text" placeholder="Search.."
              style="width:100%" id="myInputStreet" onkeyup="myFunctionStreet()"></th>
          <th id="inputNumber"><input class="form-control text-center" type="text" placeholder="Search.."
              style="width:100%" id="myInputNumber" onkeyup="myFunctionNumber()"></th>
        </tr>
        <tr style="background-color: antiquewhite;">
          <th>Name <a href="#"><span class="glyphicon glyphicon-triangle-bottom"
                style="float: right;font-size: 11px;margin-top: 4px;color:black"></span></a></th>
          <th>Subscription <a href="#"><span class="glyphicon glyphicon-triangle-bottom"
                style="float: right;font-size: 11px;margin-top: 4px;color:black"></span></a></th>
          <th>State <a href="#"><span class="glyphicon glyphicon-triangle-bottom"
                style="float: right;font-size: 11px;margin-top: 4px;color:black"></span></a></th>
          <th>District <a href="#"><span class="glyphicon glyphicon-triangle-bottom"
                style="float: right;font-size: 11px;margin-top: 4px;color:black"></span></a></th>
          <th>Taluk <a href="#"><span class="glyphicon glyphicon-triangle-bottom"
                style="float: right;font-size: 11px;margin-top: 4px;color:black"></span></a></th>
          <th>Street</th>
          <th>Phone number</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for subscriber_obj in subscriber %}
        <tr>
          <td id="myName">{{ subscriber_obj.name }}
            {% if subscriber_obj.active %}
            <a href="/main/update/status/active?user_id={{ subscriber_obj.id }}" style="float: right"><button
                class="btn btn-success btn-xs"> <span class="glyphicon glyphicon-ok"
                  style="font-size: 10px;margin-right: 5px;"></span> Active</button></a>
            {% endif %}
            {% if not subscriber_obj.active %}
            <a href="/main/update/status/inactive?user_id={{ subscriber_obj.id }}" style="float: right"><button
                class="btn btn-danger btn-xs"> <span class="	glyphicon glyphicon-remove"></span> Inactive</button></a>
            {% endif %}
          </td>
          <td id="mySubscription">{{ subscriber_obj.subscription }}</td>
          <td id="myState">{{ subscriber_obj.state }}</td>
          <td id="myDistrict">{{ subscriber_obj.district }}</td>
          <td id="myTaluk">{{ subscriber_obj.taluk }}</td>
          <td id="myStreet">{{ subscriber_obj.street }}</td>
          <td id="myNumber">{{ subscriber_obj.phone_number }}</td>
          <td style="text-align:center"><a href="/main/update_user?user_id={{ subscriber_obj.id }}"><span
                class="glyphicon glyphicon-edit" onMouseOver="this.style.color='red'"
                onMouseOut="this.style.color='black'" style="font-size: 11px;color:black;text-align: center"></span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container-fluid" style="padding-bottom:30px">
    <div class="row">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4 text-center" >
        <a href="/main/print/labels/"><button class="btn btn-primary">PRINT</button></a>
        </div>
        <div class="col-sm-4">

          </div>
    </div>
  </div>
  {% endblock %}